**/bin/
**/obj/
**/TestResults/
**/coverage/

**/packages/

**/node_modules/
**/.next/
**/dist/
**/.turbo/

.git
.gitignore
.vscode
.idea
.DS_Store
Thumbs.db

**/*.md
**/*.pdf
**/*.zip
**/samples/
**/fixtures/
